<% include templates/top.ejs %>
<div class="edit-right">
	<div class="edit-span">
		<h3>My Bio</h3>
		<span>Use this section to edit your profile</span>
		<div class="edit-form">
			<div class="edit-input-div">
				<label for="firstName">First Name</label>
				<input class="input" name="firstName" value="" />
			</div>

			<div class="edit-input-div">
				<label for="lastName">Last Name</label>
				<input class="input" name="firstName" value="" />
			</div>
			<div class="edit-input-div">
				<label for="address">Address</label>
				<input class="input" name="address" value="" />
			</div>
			
			<div class="edit-input-div">
				<label for="city">City</label>
				<input class="input" name="city" value="" />
			</div>

			<div class="edit-input-div">
				<label for="state">State</label>
				<input class="input" name="state" value="" />
			</div>

			<div class="edit-input-div">
				<label for="zipCode">Zip Code</label>
				<input class="input" name="zipCode" value="" />
			</div>


			
			



		</div>
	</div>

</div>

<% include templates/footer.ejs %>