<nav>
			<ul>
			<li><a href="/../../">Home</a></li><!-- <li><a href="/">Home</a></li> -->
			<li><a href="/profile" id="profile">My Profile</a></li><!-- <li><a href="/uploads">Uploads</a></li> move upload Photo to left nav -->
			<li><a href="../../photos" id="photos">Photos</a></li><!-- <li><a href="/photos">Photos</a></li> -->
			<li><a href="../logout" id="photos">Logout</a></li><!-- <li><a href="/logout">logout</a></li> -->
			</ul>
		</nav>