<nav>
			<ul>
			<li><a href="/../../">Home</a></li><!-- <li><a href="/">Home</a></li> -->
			<li><a href="#upload" id="upload">Uploads</a></li><!-- <li><a href="/uploads">Uploads</a></li> -->
			<li><a href="../../pages/photos" id="photos">Photos</a></li><!-- <li><a href="/photos">Photos</a></li> -->
			</ul>
		</nav>